

<div class="row">
    <div class="col-md-10 mx-auto ">
  <div class="card">
    <div class="card-header">
      <button type="button" class="close ml-auto"
      data-dismiss="card"
      aria-label="Close"
      (click)="hideCard()">
         <span aria-hidden="true">&times;</span>
       </button>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb-item active" aria-current="page"><a class="text-light"[routerLink]="['/user', 'profile']">PROFILE</a></li>
          <li class="breadcrumb-item"><a class="text-light"[routerLink]="['/user', 'car']">CARS</a></li>
          <li class="breadcrumb-item"><a class="text-light"[routerLink]="['/user', 'rentals']">RENTALS</a></li>
        </ol>
      </nav>
    </div>
    <div class="card-body ">

    <router-outlet></router-outlet>


  </div>
  </div>
</div>
</div>




<!-- <h3>All users</h3>
<ul class="list-group">
  <li
  *ngFor="let user of users" class="list-group-item bg-primary">
  <button (click)="updateUser(user)"
    class="btn btn-primary btn-sm">Update user</button>
    <button (click)="deleteUser(user)"
    class="btn btn-primary btn-sm">Delete user</button>
{{user.name}}
  </li>
</ul> -->
