.card {
  background-color: rgba(28, 22, 22, .5) ;
  border-color: darkred;
  margin-top: -170px;

}
.breadcrumb {
  background-color: rgba(28, 22, 22, .5) ;
}
li {
  background-color: rgba(28, 22, 22, .5) ;
  /* border-color: darkred; */
}

.breadcrumb-item {
  font-size: 20px;
}



.fas {
  height: 3rem;
  font-size: 4rem;
}
