      <div class="card">
          <div class="card-header mb-5" style="text-align:center">
            <h3 *ngIf="!usersPhone">Add your contact phone</h3>
            <h3 *ngIf="usersPhone">Is this your contact phone?</h3>
          </div>

          <div class="card-body">

      <form
    (ngSubmit)="onUpdate()"
    #f="ngForm">
  <div *ngIf="!usersPhone" class="row justify-content-center ">
    <div class="col-sm-6 ">
      <div class="form-group">
        <input type="tel"
            name="phone"
            class="form-control"
            id="phone"
            required
            ngModel
            #phone="ngModel"
            placeholder="Enter phone number">
        <p id="phoneInfo"
           class="form-text mb-5">*Your phone number will only be revealed to users who rent your car.
        </div>
    </div>
  </div>

  <div *ngIf="usersPhone" class="row justify-content-center ">
      <div class="col-sm-6 ">
        <div class="form-group">
          <input type="tel"
              name="phone"
              class="form-control"
              id="phone"
              required
              #phone="ngModel"
              [(ngModel)] = "usersPhone">
          <p id="phoneInfo"
             class="form-text mb-5">*Your phone number will only be revealed to users who rent your car.
          </div>
      </div>
    </div>

        <div class="row justify-content-center ">
            <div class="col-sm-6">
                <button
                class="btn btn-lg btn-outline-danger btn-block"
                type="submit"
                [disabled]="!f.valid">Add phone
              </button>
            </div>
          </div>

      </form>
  </div>
</div>
