<div class="table-responsive">
<div fxLayout="row" fxLayoutAlign="center center" class="mt">
    <div fxFlex="50%">
        <i class="material-icons mt-4 pr-2">
            search
            </i>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search" class="color">
          </div>
        </div>

  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort>

    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rented from:</th>
      <td mat-cell *matCellDef="let rental" class="text-left"> {{rental.fromDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="tillDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rented until:</th>
      <td mat-cell *matCellDef="let rental" class="text-left"> {{rental.tillDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="car">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rented car:</th>
      <td mat-cell *matCellDef="let rental" class="text-left"> {{rental.car.vehicle.model.brand.name}} {{rental.car.vehicle.model.modelType}} {{rental.car.vehicle.variant.bodyType}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rented by:</th>
      <td mat-cell *matCellDef="let rental" class="text-left"> {{rental.user.name}} {{rental.user.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="pricePerDay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> For price:</th>
      <td mat-cell *matCellDef="let rental" class="text-left"> {{rental.car.pricePerDay}} &euro;/day </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
     [pageSize]="5" >
    </mat-paginator>

  </div>
