a:hover {
  text-decoration: none;
  cursor: pointer;
  color:#FF0033;
  font-size: 2.6rem;
  text-shadow: 3px 3px 8px #FF0000;
}
a {
text-decoration: none;
color: lightgray;
font-size: 2.5rem;
font-weight: 600;
text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

