<section class="features-icons text-center">

  <div class="container">

    <div class="row text-center">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-4 mb-lg-0 mb-lg-2">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-car-alt m-auto text-danger"></i>
          </div>
          <h4 class="text-dark">Find or share cars</h4>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-4 mb-lg-0 mb-lg-2">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-user-friends m-auto text-danger"></i>
          </div>
          <h4 class="text-dark">Join with us now</h4>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-2">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-check-circle m-auto text-danger"></i>
          </div>
          <h4 class="text-dark">Secure & verified</h4>
        </div>
      </div>

    </div>
  </div>
     </section>
