<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-7 col-lx-8 mx-auto">

<div class="card text-center card-form">
    <div class="card-header ">
        <button type="button" class="close ml-auto"
         data-dismiss="card"
         aria-label="Close"
         (click)="hideCard()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  <div class="card-body">
    <h2 class="mb-2 shadow ">Sign up & enjoy the ride</h2>
    <form
        (ngSubmit)="signIn(f)"
        #f="ngForm">

<div class="form-group mb-2">
  <input type="text"
      id="name"
      class="form-control"
      name="name"
      ngModel
      placeholder="Enter your name"
      required autofocus
      #name="ngModel">
    </div>

    <div class="form-group mb-2">
  <input type="text"
      id="lastname"
      class="form-control "
      name="lastname"
      ngModel
      placeholder="Enter your lastname"
      required
      #lastname="ngModel">
    </div>

    <div class="form-group mb-2">
      <input type="text"
      bsDatepicker
      [bsConfig] = "datePickerConfig"
      name="bdate"
      ngModel
      class="form-control"
      placeholder="Date of birth"
      required
      #bdate="ngModel" >
    </div>

    <div class="form-group mb-2">
  <input type="email"
      id="email"
      name="email"
      class="form-control"
      ngModel
      placeholder="Enter your email"
      required
      email
      #email="ngModel">
    </div>

    <div class="form-group mb-2">
    <input type="username"
      id="username"
      name="username"
      class="form-control"
      ngModel
      placeholder="Choose your Username"
      required
      #username="ngModel">
    </div>

    <div class="form-group mb-2">
  <input type="password"
      id="password"
      name="password"
      class="form-control"
      ngModel
      placeholder="Password"
      required
      #password="ngModel"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" >

   <p class="help-block" *ngIf="password.errors.pattern"> At least one number, uppercase letter, and 6 or more characters.</p>


    </div>

    <div class="form-group mb-2">
      <input type="password"
      id="password1"
      name="password1"
      class="form-control"
      ngModel
      placeholder="Confirm password"
      required
      #password1="ngModel"
      pattern="{{ password.value }}"
      >

        <p class="help-block" *ngIf="password1.errors.pattern"> Password & Confirm Password does not match.</p>


    </div>

  <p
      *ngIf="!name.valid && name.touched ||
             !lastname.valid && lastname.touched ||
             !bdate.valid && bdate.touched ||
             !email.valid && email.touched ||
             !username.valid && username.touched ||
             !password.valid && password.touched"
      class="help-block">All fields are required
    </p>

  <button
    class="btn btn-lg btn-outline-danger btn-block"
    type="submit"
    [disabled]="!f.valid">Sign up!
  </button>

</form>

  </div>
</div>




<!-- <div *ngIf="password1.invalid && (f.submitted || password1.touched)" class="alert alert-danger"> -->
    <!-- <p class="help-block" *ngIf="password1.errors.required"> Confirm password is required. </p> -->
    <!-- <p class="help-block" *ngIf="password1.errors.pattern"> Password & Confirm Password does not match.</p>
  </div> -->
