
<div fxLayout="row" fxLayoutAlign="center center" class="mt">
  <div fxFlex="50%">
      <i class="material-icons mt-4 pr-2">
          search
          </i>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search" class="color">
        </div>
</div>

<table mat-table [dataSource]="dataSource" class="full-width-table" matSort>
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let user" class="text-left"> {{user.name}} {{user.surname}} </td>
  </ng-container>
 
  <!-- <ng-container matColumnDef="surname"> <input matInput type="text" 
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
    <td mat-cell *matCellDef="let user" class="text-left"> {{user.surname }} </td>
  </ng-container> -->

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
    <td mat-cell *matCellDef="let user" class="text-left"> {{user.dateOfBirth | date }} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let user" class="text-left"> {{user.username}} </td>
  </ng-container>
 
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let user" class="text-left"> {{user.email}} </td>
  </ng-container>
 
  <ng-container matColumnDef="details" class="text-left">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let user" class="text-left">
      <button mat-icon-button color="primary" (click)="redirectToDetails(user.id)">
          details
      </button>
    </td>
  </ng-container>
 
    <!-- <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
              delete
          </button>
        </td>
      </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
   [pageSize]="5" >
  </mat-paginator>

  <!-- <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator> -->

